<h1>List: <%= @list.title %></h1>
<%=link_to "Add new task", new_list_task_path(@list), class: 'btn btn-sm btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th>ToDo</th>
      <th colspan="2">Actions</th>
    </tr>  
  </thead>
  <tbody>
    <% @list.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= link_to "Edit", edit_list_task_path(@list, task), class: 'btn btn-xs btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", board_path(@board) %>