<%= link_to "Home", root_path %> | 
<% if current_user %>
  <p>Logged as: <%= current_user.email %></p>
  <%= link_to 'Signout', session_path(current_user), method: :delete %>
<% else %>
  <%= link_to "Sign up", new_registration_path %> |
  <%= link_to "Sign in", new_session_path %>
  <% end %>
